{% extends "base.html" %}

{% block main %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>Here at KMC, we aim to provide quality sporting goods and services at reasonable prices to keep you in the game!</p>
        <p>Our team strives to provide outstanding customer service with "rock-bottom" pricing. We believe life should be fun and KMC provides the tools to make that true!</p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>KMC Sporting Goods</strong>
          <br>501 Wall St
          <br>Seattle, WA 98101
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (206) 736-2255
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">KMCsportinggoods@kmc.com</a>
        </address>
      </div>
    </div>
{% endblock %}
