<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
------ Include the above in your HEAD tag ---------->

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
{% extends "base.html" %}

{% block main %}


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">KMC CART</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col" class="text-left">Product</th>
                            <th scope="col" class="text-center">Available</th>
                            <th scope="col" class="text-center">Price</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if item_dict %}

                            <script>let cart_subtotal = 0;</script>        

                            <!-- Show Product Thumbnails -->
                            {% for item in item_dict.values %}
                                
                                {% include "order/cart_item.html" with id=item.id item=item.product price=item.price item_image=item.product_image quantity=item.quantity subtotal=item.subtotal %}
                            
                                <script>cart_subtotal += Number("{{item.subtotal}}")</script>
                            
                            {% endfor %}
                        
                        {% endif %}
                   
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">$<script>document.write(cart_subtotal)</script></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">$<script>let shipping = 1.50 * Math.floor(cart_subtotal / 50) + 3.50; document.write(shipping)</script></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>$<script>let total = cart_subtotal + shipping; document.write(total)</script></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6 text-center">
                    <button class="btn btn-large btn-block btn-dark" onclick="window.location.href = '/inventory/products'">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="{% url 'order_ns:checkout' %}" class="btn btn-large btn-block btn-success text-uppercase">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- <button class="btn btn-large btn-block btn-success text-uppercase" onclick="window.location.href = '/delivery'">Checkout</button> -->