{% extends "base.html" %}


{% block header %}
<h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">KMC Inventory</h1>
{% endblock header %}

  <!-- Page Content -->
  {% block main %}
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h4 class="my-4">Sort by Sport</h4>
        <div class="list-group">
          
          <a href="{% url 'inventory_ns:baseball' %}#mainsection" class="list-group-item">Baseball</a>
          <a href="{% url 'inventory_ns:basketball' %}#mainsection" class="list-group-item">Basketball</a>
          <a href="{% url 'inventory_ns:football' %}#mainsection" class="list-group-item">Football</a>
          <a href="{% url 'inventory_ns:golf' %}#mainsection" class="list-group-item">Golf</a>
          <a href="{% url 'inventory_ns:soccer' %}#mainsection" class="list-group-item">Soccer</a>
          <a href="{% url 'inventory_ns:softball' %}#mainsection" class="list-group-item">Softball</a>            
          <a href="{% url 'inventory_ns:tennis' %}#mainsection" class="list-group-item">Tennis</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/1618269/pexels-photo-1618269.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/163452/basketball-dunk-blue-game-163452.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/46798/the-ball-stadion-football-the-pitch-46798.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/1103829/pexels-photo-1103829.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Fourth slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/257970/pexels-photo-257970.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Fifth slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/54123/pexels-photo-54123.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Sixth slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        {% if prod_dict %}
          <div class="row">

          <!-- Show Product Thumbnails -->
          {% for prod in prod_dict.values %}

            {% include "inventory/product_thumbnail.html" with id=prod.id product=prod.product sport=prod.sport vendor=prod.vendor price=prod.price size=prod.size color=prod.color product_image=prod.product_image %}
            {% include "inventory/product_popup.html" with id=prod.id product=prod.product sport=prod.sport vendor=prod.vendor price=prod.price size=prod.size color=prod.color product_image=prod.product_image %}
            
          {% endfor %}
          </div>

        {% endif %}

          
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock %}

  
