<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100" data-toggle="modal" data-target="#prodid{{id}}">
        <h4 class="card-title text-blue">{{product}}</h4>
        <a href="#"><img class="img-fluid" style="width: 250px;height: 200px;align-self: center;" src="{{product_image}}" alt=""></a>
        <div class="card-body">
            
            <h5>${{price}}</h5>
            <p class="card-text">{{vendor}} - {{sport}} - {{size}} - {{color}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>

